---
import { formatBlogPosts, slugify } from "../../utils/helpers";
const allPosts = await Astro.glob("../posts/*.md");
const tags = [
  ...new Set(allPosts.map((post) => slugify(post.frontmatter.tags)),
)];
const title = "Tagar";
---

<div class="mx-auto">
  <h3 class="relative w-full flex items-center my-8">
    <span class="pr-3 text-sm text-pink-900 tracking-widest !relative uppercase">{title}</span>
    <span
      class="relative flex-grow h-1 bg-gray-100 before:content-[''] before:absolute before:h-1 before:w-8 before:bg-pink-900 before:right-0"
    ></span>
  </h3>
  <div class="tags flex flex-wrap gap-4">
    {
      tags.map((tag) => (
        <p class="tag capitalize text-gray-900 border border-pink-900 rounded-full px-6 py-2 w-fit hover:bg-blue-50 hover:text-pink-900">
          <a href={"/"+`../tags/${tag}`}># {tag}</a>
        </p>
      ))
    }
  </div>
</div>
