---
import { formatBlogPosts, slugify } from "../../utils/helpers";
const allPosts = await Astro.glob("../posts/*.md");
const categories = [
  ...new Set(allPosts.map((post) => slugify(post.frontmatter.categories)),
)];
const title = "Categories";

const posts = [
  { frontmatter: { categories: 'Streetwear' } },
  { frontmatter: { categories: 'Tas' } },
  { frontmatter: { categories: 'Sepatu' } },
  { frontmatter: { categories: 'Aksesoris' } },
  { frontmatter: { categories: 'Baju' } },
];

const categoryColors = {
  Streetwear: 'text-blue-900 bg-blue-100',
  Tas: 'text-green-900 bg-green-100',
  Sepatu: 'text-yellow-900 bg-yellow-100',
  Aksesoris: 'text-red-900 bg-red-100',
  Baju: 'text-purple-900 bg-purple-100',
};
---

<div class="py-12 mx-auto">
  <h3 class="relative w-full flex items-center my-8">
    <span class="pr-3 text-sm text-pink-900 !relative uppercase">{title}</span>
    <span
      class="relative flex-grow h-1 bg-pink-100 before:content-[''] before:absolute before:h-1 before:w-8 before:bg-pink-900 before:right-0"
    ></span>
  </h3>
  <div class="grid grid-cols-2 lg:grid-cols-3 gap-4 justify-center items-center">
    {posts.map(post => {
      const categoryClass = categoryColors[post.frontmatter.categories] || 'text-pink-900 bg-pink-100';
      return (
        <a
          href={`/categories/${slugify(post.frontmatter.categories)}/`}
          class={`capitalize transition-all duration-300 ease-linear py-1 px-3 rounded-full w-full text-center shadow-xl border-2 ${categoryClass}`}>
          {post.frontmatter.categories}
        </a>
      );
    })}
  </div>
</div>
