---
import { formatBlogPosts, slugify } from "../../utils/helpers";

type Post = {
  frontmatter: {
    title: string;
    date: string;
    tags: string[];
    [key: string]: any;
  };
  content: string;
};

const posts = import.meta.glob('../posts/*.md', { eager: true }) as Record<string, Post>;

const allPosts = Object.values(posts);
const tags = [
  ...new Set(allPosts.flatMap((post) => slugify(post.frontmatter.tags))),
];
const title = "Hashtag";
---

<div class="py-12 mx-auto">
  <h3 class="relative w-full flex items-center my-8">
    <span class="pr-3 text-sm text-pink-900 !relative uppercase">{title}</span>
    <span
      class="relative flex-grow h-1 bg-gray-100 before:content-[''] before:absolute before:h-1 before:w-8 before:bg-pink-900 before:right-0"
    ></span>
  </h3>
  <div class="tags flex flex-wrap gap-4">
    {
      tags.map((tag) => (
        <p class="tag capitalize bg-pink-900 text-white rounded-full px-6 py-2 w-fit hover:bg-pink-200 hover:text-pink-900">
          <a href={"/"+`../tags/${tag}`}># {tag}</a>
        </p>
      ))
    }
  </div>
</div>
