---
import { formatBlogPosts, slugify } from "../../utils/helpers";
type Post = {
  frontmatter: {
    title: string;
    date: string;
    tags: string[];
    [key: string]: any;
  };
  content: string;
};

const posts = import.meta.glob('../posts/*.md', { eager: true }) as Record<string, Post>;

const allPosts = Object.values(posts);
const categories = [
  ...new Set(allPosts.flatMap((post) => slugify(post.frontmatter.categories))),
];
const title = "Categories";
---

<div class="pt-12 mx-auto">
  <h3 class="relative w-full flex items-center my-8">
    <span class="pr-3 text-sm text-pink-900 !relative uppercase">{title}</span>
    <span
      class="relative flex-grow h-1 bg-gray-100 before:content-[''] before:absolute before:h-1 before:w-8 before:bg-pink-900 before:right-0"
    ></span>
  </h3>
  <div class="tags flex flex-wrap">
    {
      categories.map((categories) => (
        <p class="tag capitalize underline text-pink-900 font-bold px-6 py-2">
          <a href={"/"+`../categories/${categories}`}> {categories}</a>
        </p>
      ))
    }
  </div>
</div>
