---
import Page from "../layouts/page.astro";
---

<Page title="About Us |" desc="Contact Us" subs="Vestibulum luctus, erat non sollicitudin gravida, nisi elit mollis nunc, rhoncus posuere nulla tortor non magna.">
    <p class=""> Morbi commodo porttitor velit sit amet sagittis. Duis in sem ut turpis pellentesque finibus at id mauris. Vivamus sed est ullamcorper, ullamcorper turpis ut, faucibus nisl. Ut sed est eget eros interdum dapibus vel ut lacus. Vestibulum faucibus suscipit elit, nec laoreet neque facilisis eget. Duis nibh tellus, ornare a pulvinar sed, porta semper turpis. Proin ullamcorper id lorem id dapibus. Mauris eu auctor sem, nec euismod elit. Donec vel nisi a sem iaculis pulvinar et vitae lorem.

    </p>

</Page>