---
import Logo from "./logo.astro"
---

<footer class="bg-gray-900 shadow-[-10px_-10px_30px_4px_rgba(0,0,0,0.1),_10px_10px_30px_4px_rgba(45,78,255,0.15)]">
    <div class="container px-6 py-12 mx-auto">
        <div class="grid grid-cols-2 gap-4 sm:gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 text-white">
            <div>
                <p class="text-lg font-semibold">Blog Us</p>

                <div class="flex flex-col items-start mt-5 space-y-2">
                    <a href="#" class="transition-colors duration-300 hover:text-blue-500">BLog</a>
                    <a href="#" class="transition-colors duration-300 hover:text-blue-500">About</a>
                    <a href="#" class="transition-colors duration-300 hover:text-blue-500">Privacy Policy</a>
                </div>
            </div>

            <div>
                <p class="text-lg font-semibold">Follow Us</p>

                <div class="flex flex-col items-start mt-5 space-y-2">
                    <a href="#" class="transition-colors duration-300 hover:text-blue-500">Instagram</a>
                    <a href="#" class="transition-colors duration-300 hover:text-blue-500">Facebook</a>
                    <a href="#" class="transition-colors duration-300 hover:text-blue-500">Tiktok</a>
                </div>
            </div>

            <div>
                <p class="text-lg font-semibold">Learn More</p>

                <div class="flex flex-col items-start mt-5 space-y-2">
                    <a href="#" class="transition-colors duration-300 hover:text-blue-500">Advertise</a>
                    <a href="#" class="transition-colors duration-300 hover:text-blue-500">Disclaimer</a>
                    <a href="#" class="transition-colors duration-300 hover:text-blue-500">ChangeLog</a>
                </div>
            </div>

            <div>
                <p class="text-lg font-semibold">Contact Us</p>

                <div class="flex flex-col items-start mt-5 space-y-2">
                    <a href="#" class="transition-colors duration-300 hover:text-blue-500">+880 768 473 4978</a>
                    <a href="#" class="transition-colors duration-300 hover:text-blue-500">info@frontmatter.com</a>
                </div>
            </div>
        </div>
        
        <hr class="my-6 border-gray-200 md:my-10">
        
        <div class="px-6 flex flex-col items-center justify-between sm:flex-row">
            <a href="#">
                <Logo link="/" name="Front" namesc="matter" primaryst="text-blue-600" primarysc="text-white"/>
            </a>

            <p class="mt-4 text-sm text-gray-100 sm:mt-0">© Copyright 2021. All Rights Reserved.</p>
        </div>
    </div>
</footer>