---
import { Icon } from "astro-iconify";
---

<div class="flex flex-wrap justify-center gap-2 *:text-gray-800 *:w-6 *:h-6 hover:*:text-blue-600">
    <Icon name="mdi:instagram" />
    <Icon name="mdi:twitter" />
    <Icon name="mdi:github" />
</div>