---
import Seo from "../components/seo.astro";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import Primary from "../components/primary.astro";
const { title, desc } = Astro.props;
export const prerender = true;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<Seo title{title} desc{desc} />
	</head>
	<body>
		<Header />
		<Primary>
		<slot />
		</Primary>
		<Footer />
	</body>
</html>
